{{#if (hasStatus actor)}}
  <div class="shadow">
    {{#if actor.flags.trav5.dead}}{{{showStatus actor "dead"}}}{{/if}}
    {{#if actor.flags.trav5.disabled}}{{{showStatus actor "dead"}}}{{/if}}
    {{#if actor.flags.trav5.unconscious}}{{{showStatus actor "unconscious"}}}{{/if}}

    {{#if actor.flags.trav5.diseased}}{{{showStatus actor "diseased"}}}{{/if}}
    {{#if actor.flags.trav5.poisoned}}{{{showStatus actor "poisoned"}}}{{/if}}

    {{#if actor.flags.trav5.stunned}}{{{showStatus actor "stunned"}}}{{/if}}
    {{#if actor.flags.trav5.encumbered}}{{{showStatus actor "encumbered"}}}{{/if}}
    {{#if actor.flags.trav5.vaccSuit}}{{{showStatus actor "vaccSuit"}}}{{/if}}
    {{#if actor.flags.trav5.fatigued}}{{{showStatus actor "fatigued"}}}{{/if}}

    {{#if actor.flags.trav5.highGravity}}{{{showStatus actor "highGravity"}}}{{/if}}
    {{#if actor.flags.trav5.lowGravity}}{{{showStatus actor "lowGravity"}}}{{/if}}
    {{#if actor.flags.trav5.zeroGravity}}{{{showStatus actor "zeroGravity"}}}{{/if}}

    {{{showStatus actor "reaction"}}}
  </div>
{{/if}}

